
.md-header__button.md-logo {
    margin: 0px;
    padding: 0px;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    fill: currentcolor;
    display: block;
    height: 3.5rem;
    width: auto;
}
