
.md-header__button.md-logo {
  margin: 0px !important;
  padding: 0px !important;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
  fill: currentcolor !important;
  display: block !important;
  height: 3.5rem !important;
  width: auto !important;
}
